<div class="row">
  <div class="span10 offset1" style="text-align:center;">
    <h1 style="font-size:500%; padding-top:80px; padding-bottom:20px;">Joining <%= @group.name %></h1>
  </div>
</div>

<div class="row">
  <div class="span6 offset3">
    <h2>To join the group you first need an account</h3>
    <p>Already have an account? <%= link_to "Sign in!", new_user_session_path %></p>

    <%= form_tag :action => "join" do %>
      <div>
        <%= label_tag 'email', 'Email:' %>
        <%= email_field_tag 'email', @user.email, :size => 30, :placeholder => "your@email.com" %> <%= @user.errors[:email].empty? ? "" : @user.errors[:email].uniq.join(', ') %>

        <%= label_tag 'password', 'Password:' %>
        <%= password_field_tag 'password' %> <%= @user.errors[:password].empty? ? "" : @user.errors[:password].uniq.join(', ') %>
        <%= label_tag 'password_confirm', 'Password Confirmation:' %>
        <%= password_field_tag 'password_confirm' %>

        <%= hidden_field_tag "submitted", true %>
      </div>

      <%= submit_tag "Join the group!", :class => "btn btn-large btn-primary", :style => "font-size: 300%;" %>
    <% end %>
  </div>
</div>
