<script type="text/javascript">
  var group_channel = pusher.subscribe('groups-<%= @group.id %>');
  group_channel.bind('new-post', function(data) {
    $('#posts').prepend(data.html);
    $('#share-form').remove();
  });

  group_channel.bind('new-reply', function(data) {
    $('#post-' + data.parent_id + ' > .post-level > .post-container').after(data.html);
    $('#reply-form-' + data.parent_id).remove();
  });
</script>

<div class="row-fluid">
  <div class="span9">
    <div><h1 style="display:inline; margin-right:20px"><%= @group.name %></h1><%= link_to "Manage this group", edit_group_path(@group) %></div>

    <div id="share-form-location" style="padding-top:10px;">
    </div>

    <div id="posts" class="row-fluid" style="padding-top:10px;">
      <% @group.posts.desc(:created_at).each do |post| %>
        <%= render :partial => 'posts/post', :locals => { :post => post, :group => @group } %>
      <% end %>
    </div>
  </div>

  <div class="span3">
    <h2>Description:</h2>
    <p>
    <%= @group.description %>
    </p>

    <h2>Members:</h2>
    <ul>
      <% @group.users.each do |user| %>
        <li><%= user.email %><br/></li>
      <% end %>
      <% @group.invitees.each do |invitee| %>
        <li><%= invitee.email %> <em>(Pending)</em></li>
      <% end %>
    </ul>

    <div id="share-button-location">
      <%= render 'share_button' %>
    </div>
  </div>
</div>
