<div class="row-fluid">
  <h1><%= @user.email %></h1>
  <h2>Pending Invites</h2>

  <% i = 0 %>
  <% @user.group_invites.each do |invite| %>
    <% if i % 3 == 0 %>
    <div class="row-fluid">
    <% end %>
    <div class="span4" id="invite-<%= invite.group.id %>">
      <div class="group-container">
        <h3><%= invite.group.name %></h3>

        <h4>Members</h4>
        <ul>
          <% invite.group.users.each do |user| %>
            <li><%= user.email %></li>
          <% end %>
        </ul>

        <%= link_to "Accept", { :controller => 'users', :action => 'accept_invite', :id => @user.id, :token => invite.token }, :remote => true, :class => "btn btn-primary" %>
        <%= link_to "Ignore", { :controller => 'users', :action => 'ignore_invite', :id => @user.id, :token => invite.token }, :remote => true, :class => "btn", :style => "margin-left:5px;" %>
      </div>
    </div>
    <% if i % 3 == 0 %>
    </div>
    <% end %>
  <% end %>
  <% if i % 3 != 0 %>
  </div>
  <% end %>
</div>
