<div class="row-fluid">
  <div>
    <div>
      <h1 style="display:inline; margin-right:20px;"><%= @user.email %></h1><%= link_to "Edit profile", edit_user_path(@user) %>
    </div>
    <h3>Display name</h3>
    <%= @user.name %>
    <h3>Your sign in link</h3>
    <%= link_to user_sign_in_url(@user) %>
  </div>

  <div id="pending-invites">
    <h2>Pending Invites</h2>
    <% @user.group_invites.each do |invite| %>
      <div class="row-fluid">
        <%= render :partial => 'invite', :locals => { :invite => invite } %>
      </div>
    <% end %>
  </div>
</div>
