<script type="text/javascript">
  $(function () {
    var availableTags = [];

    $('#add-members-list').tagit({tagSource:availableTags, select:true, sortable:true, tagsChanged:function () { 
      var emails = [];
      var tags = $('#add-members-list').tagit('tags');
      for (var i in tags) {
        emails.push(tags[i].value);
      }

      $('#invite_emails').replaceWith('<input id="invite_emails" name="invite_emails" type="hidden" value="' + emails.join() + '" />');
    }});

  });
</script>

<div class="row">
  <div class="span10 offset1">
    <span style="text-align:center">
      <h1 style="font-size:500%; padding-top:80px; padding-bottom:20px;">Starting a new group!</h1>
    </span>
  </div>
</div>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag :action => "create" do %>
      <h2>Step 1: Your own account</h2>

      <div>
        <%= label_tag 'email', 'Email:' %>
        <%= email_field_tag 'email', @user.email, :size => 30, :placeholder => "your@email.com" %> <%= @user.errors[:email].empty? ? "" : @user.errors[:email].uniq.join(', ') %>
      </div>

      <h2>Step 2: Create the group</h2>

      <div>
        <% if @group.errors.count > 0 %>
          <% @group.errors.each do |attribute, errors| %>
            <%= attribute %>: <%= errors.uniq.join(', ') %>
          <% end %>
        <% end %>
        <%= label_tag 'group_name', "Group name:" %><%= text_field_tag :name, nil, :placeholder => "Cool name", :style => "width:100%;" %><br />
        <%= label_tag 'description', 'Description:' %><%= text_area_tag :description, nil, :rows => 6, :style => "width:100%;" %>
        <%= label_tag 'other_memebrs', "Other members:" %>
        <ul id="add-members-list" data-name="add-members-list"></ul>
        <input id="invite_emails" name="invite_emails" type="hidden" value="" />
      </div>

      <%= submit_tag "Create my group!", :class => "btn btn-large btn-primary", :style => "font-size:300%;width:100%" %>
    <% end %>
  </div>
</div>
