<div id="post-<%= post.id %>">
  <div class="post-level" style="margin-left: <%= post.group.blank? ? 15 : 0 %>px;">
    <div class="post-container">
      <% if post.user.nil? %>
        <%= render :partial => 'posts/system_post', :locals => { :user_post => post, :group => group } %>
      <% else %>
        <%= render :partial => 'posts/user_post', :locals => { :user_post => post, :group => group } %>
      <% end %>
    </div>

    <% post.child_posts.desc(:created_at).each do |child_post| %>
      <%= render :partial => 'posts/post', :locals => { :post => child_post, :group => group } %>
    <% end %>
  </div>
</div>
